*{
	padding:0;
	margin:0;
}


#background{

	background:#f9f9f9;
  	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
	align-items: center;
	min-height:100%;
	padding-bottom:10%;

}

.nickname{
	width:70%;
	height:10%;
    color:#ff6e01;
	margin-top:20%;
	font-size:40px;
	text-align:center;
}

.pic{
	width:30%;
	height:5%;
	margin-top:40px;
}

.pic img{
	width:100%;
	height:100%;
	border-radius:50%;

}

.sign{
	
	width:80%;
	height:70px;
	background:#11a9ac;
	margin-top:20%;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
	align-items: center;
	font-size:30px;
	border-radius:5px;

	
	background: linear-gradient(#fdcc3f, #ff9413); /* 标准的语法 */
	background: -webkit-linear-gradient(#fdcc3f, #ff9413); /* Safari 5.1 - 6.0 */
  	background: -o-linear-gradient(#fdcc3f, #ff9413); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(#fdcc3f, #ff9413); /* Firefox 3.6 - 15 */

}

.sign div{
	background:#11a9ac;
	flex:1;
	height:100%;
	width:45px;
	border-radius:5px;
	
	background: linear-gradient(#fdcc3f, #ff9413); /* 标准的语法 */
	background: -webkit-linear-gradient(#fdcc3f, #ff9413); /* Safari 5.1 - 6.0 */
  	background: -o-linear-gradient(#fdcc3f, #ff9413); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(#fdcc3f, #ff9413); /* Firefox 3.6 - 15 */
	
	
}
.sign div img{

	float:right;
	width:45px;
	margin-top:10px;
	
}
.sign p{
	flex:1.6;
	
	color:white;
	margin-right:5px;
}


.my_prize{
	
	width:80%;
	height:70px;
	background:#11a9ac;
	margin-top:20px;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
	align-items: center;
	font-size:30px;
	border-radius:5px;

	
	background: linear-gradient(#fdcc3f, #ff94130); /* 标准的语法 */
	background: -webkit-linear-gradient(#fdcc3f, #ff9413); /* Safari 5.1 - 6.0 */
  	background: -o-linear-gradient(#fdcc3f, #ff9413); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(#fdcc3f, #ff9413); /* Firefox 3.6 - 15 */

}

.my_prize div{
	background:#11a9ac;
	flex:1;
	height:100%;
	width:45px;
	border-radius:5px;
	
	background: linear-gradient(#fdcc3f, #ff9413); /* 标准的语法 */
	background: -webkit-linear-gradient(#fdcc3f, #ff9413); /* Safari 5.1 - 6.0 */
  	background: -o-linear-gradient(#fdcc3f, #ff9413); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(#fdcc3f, #ff9413); /* Firefox 3.6 - 15 */
	
	
}
.my_prize div img{

	float:right;
	width:45px;
	margin-top:10px;
	
}
.my_prize p{
	flex:1.6;
	
	color:white;
	margin-right:5px;
}


.shopping{
	
	width:80%;
	height:70px;
	background:#11a9ac;
	margin-top:20px;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
	align-items: center;
	font-size:30px;
	border-radius:5px;

	
	background: linear-gradient(#fdcc3f, #ff9413); /* 标准的语法 */
	background: -webkit-linear-gradient(#fdcc3f, #ff9413); /* Safari 5.1 - 6.0 */
  	background: -o-linear-gradient(#fdcc3f, #ff9413); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(#fdcc3f, #ff9413); /* Firefox 3.6 - 15 */
	
	margin-bottom:15%;

}

.shopping div{
	background:#11a9ac;
	flex:1;
	height:100%;
	width:45px;
	border-radius:5px;
	
	background: linear-gradient(#fdcc3f, #ff9413); /* 标准的语法 */
	background: -webkit-linear-gradient(#fdcc3f, #ff9413); /* Safari 5.1 - 6.0 */
  	background: -o-linear-gradient(#fdcc3f, #ff9413); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(#fdcc3f, #ff9413); /* Firefox 3.6 - 15 */
	
	
}
.shopping div img{

	float:right;
	width:45px;
	margin-top:10px;
	
}
.shopping p{
	flex:1.6;
	
	color:white;
	margin-right:5px;
	
}




