*{
	padding:0;
	margin:0;
	
}

#background{
	width:96%;
	min-height:600px;
	background:white;
	margin-left:2%;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
	align-items:center;
	
}

.my_score{
	width:70%;
	height:10%;
	margin-top:15%;
	text-align:center;
	font-size:30px;
	border: solid 1px #ebebeb;
}

.my_score p{
	float:right;

}

.detail_image{
	width:90%;
	height:50%;
	margin-top:5%;
}

.detail_image img{
	width:100%;
	height:100%;
	background:blue;
}


.desc{
	width:90%;
	margin-top:1%;
	margin-bottom:2%;	
}


.desc p{
	width:99.9%;
	min-height:20px;
	border: solid 1px #ebebeb;
	font-size:15px;
}

.title{
	width:90%;
	height:4%;
	text-align:left;
	line-height: 24px;
	margin-top:1%;
	border: solid 1px #ebebeb;
	font-size:15px;
	
}

.score{
	width:90%;
	height:4%;
	margin-top:1px;
	text-align:left;
	line-height: 24px;
	border: solid 1px #ebebeb;
	font-size:15px;
}

#Receive{
	width:40%;
	height:6%;
	margin-top:3%;
	font-size:30px;
	margin-bottom:3%;
	border: solid 1px #ebebeb;
	
}









