*{
    padding: 0;
    margin: 0;
}

html{
	min-height: 100%;
	background: url(../../images/sign/bg.png);
}

.home_background{
    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    min-height: 100%;
    width: 100%;

}

.head{
    display: flex;
    /*-webkit-flex-direction: column;*/
    align-items: center;
    justify-content: center;
    height: 160px;
}

.user_info{
    align-items: center;
    height: 40%;
    /*background: red;*/
    width: 60%;
	text-align:center;
}

.user_info img{
	border: 2px solid #fff;
    width: 100px;
    border-radius: 50px;
    height: 100px;
}


.user_info img:first-child{
    margin-right: auto;
}

.sign_in_back{
	margin-top:20%;
    height: 75%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    padding-bottom: 1%;
}

.sign_in button {
	height: 3rem;
	margin-top:1rem;
    border-radius: 5px;
    border: 2px solid #fff;
    width: 12rem;
    color: #fff;
    background-color: rgba(0,0,0,0);
}

.sign_in{
    /*margin: 10%;*/
    width: 80%;
    /*height: 67.81%;*/
    margin: auto;
    /*flex-shrink: 0;*/
    height: 0;
    padding-bottom: 80%;
	text-align:center;

}

.sign_in ul{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    text-align: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;


}

.sign_in ul li{
    border: solid 5px gold;
    list-style: none;
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    border-radius: 50%;
    background: white;
    line-height: 123px;
    font-size: 10%;
    margin-top: 4%;


    /*margin-left: 2%;*/

}

/*background-image: initial;*/
/*background-position-x: initial;*/
/*background-position-y: initial;*/
/*background-size: initial;*/
/*background-repeat-x: initial;*/
/*background-repeat-y: initial;*/
/*background-attachment: initial;*/
/*background-origin: initial;*/
/*background-clip: initial;*/
/*background-color: blue;*/







