*{
    padding: 0;
    margin: 0;
}

#list_back{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height:600px;
    align-items: center;
	
}
/*=============================*/
#head_background{
	width:100%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
	position:fixed;/*固定作用*/
	
}
#head_background #pic_back{

	width:100%;
	height:80%;
	background: url("shopping3.jpg")no-repeat;

}

.jifen_back{
	width:100%;
	height:25%;
	display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
	border: solid 1px #ebebeb;
	background:white;


}

.head_jifen{
	
	flex:1.3;
	-webkit-flex:1.3;
	text-align:right;
	font-size:25px;
	line-height:23.78px;
	bottom:0;

}

.jifen_back p{
	float:left;
	flex:1;
	-webkit-flex:1;
	font-size:25px;
	line-height:23.78px;
	
	
}

#receive_back{
	width:100%;
	height:31px;
	display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
	
	background:white;
}

.type{
	flex:1;
	-webkit-flex:1;
	text-align:center;
	font-size:15px;
	line-height:23.78px;
	
	list-style: none;
	border:0px;
	outline: none;
	
}


#none_Delive{
	flex:1;
	-webkit-flex:1;
	text-align:center;
	font-size:20px;
	line-height:23.78px;
	list-style: none;
}


/*=============================*/
#listname{
    margin-top: 10% ;
    width: 60%;
    background: #f7f7f7;
	border: solid 1px #d2d2d2 ;
    height: 7%;
	line-height:42px;
	text-align:center;
	font-size:30px;
}

#listname p{
	float:right;
}

.lists{
	height:80%;
	background:#ebebeb;
	margin-top:10%;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	border-radius: 5px;
	width:96%;
	border: solid 1px #f7f7f7;
	padding-bottom:1.5%;
	
}

.none_lists{
	height:80%;
	background:#ebebeb;
	margin-top:37%;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	border-radius: 5px;
	width:96%;
	border: solid 1px #f7f7f7;
	padding-bottom:1.5%;
	
}

.lipin{
	
	width:47%;
	height:45%;
	border: solid 1px #d2d2d2;
	margin-left:2%;
	margin-top:1%;
	background:white;
	border-radius: 5px;
	
}


.lipin img{
	width:100%;
	height: 70%;
	
}

.lipin p{
	margin-top:2%;
	padding-bottom:2%;
	border-bottom: solid 1px #d2d2d2;
	white-space:nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
	font-size:10px;
	padding-left:1%;
}

.none_lipin{
	
	width:47%;
	height:45%;
	margin-left:2%;
	margin-top:1%;
	background:white;
	border-radius: 3px;
	
}

.none_lipin img{
	width:100%;
	height: 70%;
	
}

.none_lipin p{
	cursor: pointer;
	font-size: 1.5rem;
    line-height: 2rem;
	margin-top:2%;
	padding-bottom:2%;
	border-bottom: solid 1px #d2d2d2;
	white-space:nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
	font-size:10px;
	padding-left:1%;
}


#score_color{
	color:#ff6e01;
}















